{% extends 'kerko/layout.html.jinja2' %}

{% block meta_title_inner -%}
    {%- if title %}{{ title|striptags|escape }} – {% endif %}{{ config.KERKO_TITLE|striptags|escape -}}
{% endblock %}

{%- block metas %}
    {{- super() }}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='dist/images/favicon-150.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='dist/images/favicon-300.png') }}" sizes="192x192">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='dist/images/favicon-300.png') }}">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='dist/images/favicon-300.png') }}">
{%- endblock metas %}

{% block styles %}
    {%- assets "css_styles" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {%- endassets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800,800i&display=swap&subset=latin-ext">
{% endblock styles %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white d-print-none">
        <div class="container">
            {%- block navbar_brand %}
                <div class="navbar-brand">
                    <a class="d-block brand-title" href="{{ config.HOME_URL }}">{{ config.HOME_TITLE }}</a>
                    <span class="d-block brand-subtitle text-primary">{{ config.HOME_SUBTITLE }}</span>
                </div>
            {%- endblock navbar_brand %}
            {%- block navbar_toggler %}
                <div class="d-lg-none m-auto">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="{{ _('Toggle navigation') }}">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-text">{{ _('Menu') }}</span>
                    </button>
                </div>
            {%- endblock navbar_toggler %}
            {%- block navbar_content %}
                <div id="navbar-content" class="collapse navbar-collapse">
                    <ul class="navbar-nav justify-content-end">
                        {%- block navbar_items %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ config.HOME_URL }}">{{ _('Home') }}</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('kerko.search') }}" aria-current="true">{{ config.NAV_TITLE }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ config.ABOUT_URL }}">{{ _('About us') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ config.BLOG_URL }}">{{ _('Blog') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ config.CONTACT_URL }}">{{ _('Join us') }}</a>
                            </li>
                        {%- endblock navbar_items %}
                    </ul>
                </div>
            {%- endblock navbar_content %}
        </div>
    </nav>
{% endblock navbar %}

{% block footer_attributes %}{# Deliberately empty! #}{% endblock %}

{% block body_scripts %}
    {%- assets "common_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}
{% endblock body_scripts %}
