{% extends 'kerko/layout.html.jinja2' %}

{% block meta_title_inner -%}
    {%- if title %}{{ title|striptags|escape }} – {% endif %}{{ config.KERKO_TITLE|striptags|escape -}}
{% endblock %}

{%- block metas %}
    {{- super() }}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='dist/images/favicon-150.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='dist/images/favicon-300.png') }}" sizes="192x192">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='dist/images/favicon-300.png') }}">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='dist/images/favicon-300.png') }}">
{%- endblock metas %}

{% block styles %}
    {%- assets "css_styles" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {%- endassets %}
    <link property="stylesheet" rel='stylesheet' id='tp-fontello-css'  href='https://edtechhub.org/wp-content/plugins/essential-grid/public/assets/font/fontello/css/fontello.css?ver=3.0.7' type='text/css' media='all' />
    <link property="stylesheet" rel='stylesheet' id='ekoterra-icons-css'  href='https://edtechhub.org/wp-content/themes/edtechhub/css/font-icons/css/fontello-embedded.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
{% endblock styles %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white d-print-none">
        <div class="container">
            {%- block navbar_brand %}
                <div class="navbar-brand">
                    <a class="d-block brand-title" href="{{ config.HOME_URL }}">
                        <img width="200" title="{{ config.HOME_TITLE }}" src="{{ url_for('static', filename='dist/images/logo.png') }}" />
                    </a>
                </div>
            {%- endblock navbar_brand %}
            {%- block navbar_toggler %}
                <div class="d-lg-none m-auto">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="{{ _('Toggle navigation') }}">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-text">{{ _('Menu') }}</span>
                    </button>
                </div>
            {%- endblock navbar_toggler %}
            {%- block navbar_content %}
                <div id="navbar-content" class="collapse navbar-collapse">
                    <ul class="navbar-nav justify-content-end">
                        {%- block navbar_items %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ config.HOME_URL }}">{{ _('Home') }}</a>
                            </li>
                            <li class="nav-item menu-item-has-children">
                                <a class="nav-link" href="#">{{ _('About us') }}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="{{ config.ABOUT_URL }}"><span>{{ _('About EdTech Hub') }}</span></a></li>
                                    <li class="menu-item"><a href="{{ config.ABOUT_TEAM_URL }}"><span>{{ _('Team') }}</span></a></li>
                                    <li class="menu-item"><a href="{{ config.ABOUT_ADVISORS_URL }}"><span>{{ _('Advisors') }}</span></a></li>
                                </ul>
                            </li>
                            <li class="nav-item menu-item-has-children">
                                <a class="nav-link" href="#">{{ _('Tools') }}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="{{ config.TOOLS_DATABASE_URL }}" target="_blank"><span>{{ _('EDTECH TOOLS DATABASE') }}</span></a></li>
                                </ul>
                            </li>
                            <li class="nav-item menu-item-has-children active">
                                <a class="nav-link" href="#">{{ _('Evidence') }}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item active"><a href="{{ url_for('kerko.search') }}"><span>{{ _('EVIDENCE LIBRARY') }}</span></a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ config.BLOG_URL }}">{{ _('Blog') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ config.CONTACT_URL }}">{{ _('Contact us') }}</a>
                            </li>
                        {%- endblock navbar_items %}
                    </ul>
                </div>
            {%- endblock navbar_content %}
        </div>
    </nav>
{% endblock navbar %}

{% block footer_attributes %}{# Deliberately empty! #}{% endblock %}

{% block body_scripts %}
    {%- assets "common_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}
{% endblock body_scripts %}
