{% extends 'kerko/search.html.jinja2' %}

{% block kerko_search_js %}
    {%- assets "search_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}
{% endblock kerko_search_js %}

{% block kerko_print_js %}
    {%- if show_print_link %}
        {%- assets "print_js" %}
            <script src="{{ ASSET_URL }}"></script>
        {%- endassets %}
    {%- endif %}
{% endblock kerko_print_js %}

{% block help_link_wrapper_classes %}d-inline-block d-print-none mb-2{% endblock %}

{% block facets_link_wrapper_classes %}d-inline-block d-lg-none d-print-none mb-2{% endblock %}

{% block facets_btn_classes %}btn btn-dark{% endblock %}

{% block reset_link_wrapper_classes %}d-inline-block d-print-none mb-2{% endblock %}

{% block results_heading_classes %}heading-results d-inline-block mt-3 mb-2{% endblock %}

{% block sorter_wrapper_classes scoped %}col-auto pl-0 ml-auto mt-3 mb-2 text-right{% endblock %}

{% block search_results_list %}
    <ul class="mb-4 list-unstyled {% if print_preview %}search-print-preview{% endif %}">
        {%- for result, result_url in search_results %}
            {%- include "app/_search-result.html.jinja2" %}
        {%- endfor %}
    </ul>
{% endblock search_results_list %}
