{% extends 'kerko/search-item.html.jinja2' %}

{% block search_heading_classes %}h2 col-auto mr-auto pr-1 d-inline d-print-none{% endblock %}

{% block item_heading_classes %}h1 rule mb-3 clearfix{% endblock %}
